# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# folders
alias dc="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"

# commands
alias g="git"
alias subl="/c/Program\ Files/Sublime\ Text\ 2/sublime_text.exe"
alias at="atom"

# grunt
alias gr="grunt"
alias grb="grunt build"
alias grw="grunt watch"

# gulp
alias gl="gulp"
alias glb="gulp build"
alias glw="gulp watch"

# chocolatey
alias cinst='cmd.exe "/c cinst.bat"'
alias clist='cmd.exe "/c clist.bat"'
alias cup='cmd.exe "/c cup.bat"'
alias cuninst='cmd.exe "/c cuninst.bat"'

# Atom
alias at="atom ."
alias atu="apm update --no-confirm"
