# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Open a twitch stream with Livestreamer
function lst() {
  if [ "$2" ]
  then
    quality=$2
  else
    quality="best"
  fi

  streamlink twitch.tv/"$1" "$quality"
}
