# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Change the current Node Version
function n() {
  nvm use "$@"
}

# Open a twitch stream with Livestreamer
function lst() {
  livestreamer twitch.tv/"$@" best
}
